#container { width: 800px;}

.taskInstructions {
    text-align: justify;
}
.taskInstructions table.tableBorders {
  margin: 10px 50px 20px;
}
.taskInstructions table.tableBorders th {
  border: 1px solid #000;
  padding: 10px 30px 10px 10px;
  font-weight: normal;
}
.taskInstructions table.tableBorders td {
  border: 1px solid #000;
  text-align: center;
  width: 3em;
  padding: 10px;
}
.taskInstructions table.pre {
    margin: 10px auto;
}
.taskInstructions table.pre td {
    padding: 4px 10px;
}
.taskInstructions img {
  display: block;
  margin: 10px auto;
}
.taskHeader {
  margin-bottom: 30px;
}
.submitBlock,
.scoreBlock,
.feedbackBlock,
.saveBlock {
  display: inline-block;
  line-height: 34px;
  margin: 0 10px 0 0;
}
.scoreBlock,
.feedbackBlock {
  background: #f8f8f8;
  padding: 0 8px;
}
.panel-heading {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  font-weight: bold;
}
.text-bold {
    font-weight: bold;
}
.adfgx-subst-char,
.adfgx-cell {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 18px;
  padding: 2px
}

.adfgx-q-guess {
  background-color: #d2d2d2;
}
.adfgx-q-hint {
  background-color: #999;
}

/*

  Tool hints

*/
.hintsDialog {
  width: 50%;
  max-width: 400px;
  background: #f0f0f0;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
}
.hintsDialog button + button {
  margin-left: 10px;
}
.task-hints .adfgx-subst-label div {
  padding: 0 10px;
}
.adfgx-subst {
  margin-bottom: 10px;
}
/*

  Tool Frequency Analysis

*/


/* frequency display  */
.adfgx-subst-pair, .adfgx-subst-pair-rev {
  display: inline-block;
  width: 22px;
  margin-right: 4px;
}
.adfgx-subst-pair .adfgx-subst-src,
.adfgx-subst-pair-rev .adfgx-subst-src{
  text-align: center;
}
.adfgx-subst-tgt {
  margin-top: 3px;
}
.adfgx-subst-pair .adfgx-subst-tgt .adfgx-subst-char,
.adfgx-subst-pair-rev .adfgx-subst-tgt .adfgx-subst-char {
  display: block;
  text-align: center;
}
.adfgx-subst-pair .adfgx-subst-tgt .adfgx-subst-char {
  border: 1px solid #ccc;
}
.adfgx-subst-tgt-frequency {
  display: block;
}
.adfgx-subst-freq {
  line-height: 45px;
  display: block;
  margin: 0 auto;
  width: 12px;
}
.adfgx-subst-tgt .adfgx-subst-freq {
  margin-top: 6px;
}
.adfgx-subst-freq span {
  display: inline-block;
  background-color: #333;
  width: 100%;
}
.adfgx-subst-src .adfgx-subst-freq span {
  vertical-align: bottom;
}
.adfgx-subst-tgt .adfgx-subst-freq span {
  vertical-align: top;
}

.adfgx-clickable {
  cursor: pointer;
}
.adfgx-clickable:hover,
.adfgx-clickable:hover .adfgx-subst-char {
  background: #ccc;
}

.adfgx-draggable {
  cursor: move;
}
.adfgx-draggable:hover {
  background: #ccc;
}

p.hug-bottom {
  margin-bottom: 0;
}

/* new */
.dualtext-block {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  white-space: pre;
}
.dualtext-col {
  display: inline-block;
}
.dualtext-col .dualtext-top-cell .adfgx-cell,
.dualtext-col .dualtext-bottom-cell .adfgx-cell {
  border: 1px solid #ccc;
  margin-right: 2px;
}
.dualtext-col .dualtext-top-cell .adfgx-cell {
  border-bottom: none;
}
.dualtext-col .dualtext-bottom-cell .adfgx-cell {
  border-top: none;
}
.dualtext-line {
  margin-bottom: 6px;
}

.dualtext-label, .adfgx-subst-label {
  font-family: Arial, sans-serif;
  display: inline-block;
  line-height: 26px;
  color: #666;
  text-align: right;
}
.panel-body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dualtext-label div {
  padding-right: 10px;
}