#container { width: 800px;}

.panel-heading {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  font-weight: bold;
}
.text-bold {
    font-weight: bold;
}
.adfgx-subst-char,
.adfgx-cell {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 18px;
  padding: 2px
}

.adfgx-q-guess {
  background-color: #d2d2d2;
}
.adfgx-q-hint {
  background-color: #999;
}

/*

  Tool hints

*/
}
.adfgx-subst {
  margin-bottom: 10px;
}
/*

  Tool Frequency Analysis

*/


/* frequency display  */
.adfgx-subst-pair, .adfgx-subst-pair-rev {
  display: inline-block;
  width: 22px;
  margin-right: 4px;
}
.adfgx-subst-pair .adfgx-subst-src,
.adfgx-subst-pair-rev .adfgx-subst-src{
  text-align: center;
}
.adfgx-subst-tgt {
  margin-top: 3px;
}
.adfgx-subst-pair .adfgx-subst-tgt .adfgx-subst-char,
.adfgx-subst-pair-rev .adfgx-subst-tgt .adfgx-subst-char {
  display: block;
  text-align: center;
}
.adfgx-subst-pair .adfgx-subst-tgt .adfgx-subst-char {
  border: 1px solid #ccc;
}
.adfgx-subst-tgt-frequency {
  display: block;
}
.adfgx-subst-freq {
  line-height: 45px;
  display: block;
  margin: 0 auto;
  width: 12px;
}
.adfgx-subst-tgt .adfgx-subst-freq {
  margin-top: 6px;
}
.adfgx-subst-freq span {
  display: inline-block;
  background-color: #333;
  width: 100%;
}
.adfgx-subst-src .adfgx-subst-freq span {
  vertical-align: bottom;
}
.adfgx-subst-tgt .adfgx-subst-freq span {
  vertical-align: top;
}

.adfgx-clickable {
  cursor: pointer;
}
.adfgx-clickable:hover {
  background: #ccc;
}

.adfgx-draggable {
  cursor: move;
}
.adfgx-draggable:hover {
  background: #ccc;
}

p.hug-bottom {
  margin-bottom: 0;
}

/* new */
.dualtext-block {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  white-space: pre;
}
.dualtext-col {
  display: inline-block;
}
.dualtext-line {
  margin-bottom: 6px;
}

.hintsDialog {
  float: right;
}

.dualtext-label, .adfgx-subst-label {
  font-family: Arial, sans-serif;
  display: inline-block;
  width: 50px;
  line-height: 22px;
  color: #666;
  text-align: right;
  margin-right: 10px;
}
